@model List<Movie>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-dark">Welcome to Find a Movie</h1>    
</div>
<div class="container">
    <form method="get" accept="@Url.Action("Index", "Home")">
        <input type="text" name="searchTerm" placeholder="Search movie" value="@Context.Request.Query["searchTerm"]" class="search-input"/>
        <button type="submit" class="update-button">Search</button>
    </form>

    <table class="table">        
        <tbody>        
            @foreach (Movie movie in Model)
            {
                <tr>
                    <td>
                        <div class="movie-card">
                            <div class="movie-info">
                                <strong>@movie.Series_Title</strong>
                                <p>@movie.Overview</p>
                                <p>Duration: @movie.Runtime</p>
                                <p>Year: @movie.Released_Year</p>
                                <p>Genre: @movie.Genre</p>
                                <p>Rating: @movie.IMDB_Rating.ToString("F2")</p>
                            </div>
                             <div class="movie-poster">
                                <img src="@movie.Poster_Link" alt="No Image" width="100" height="150" />                            
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
